body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(./HD-wallpaper-travel-agency.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}